/* *****************	
****            Page 1 Media Query
*******************************************/

@media all and (min-width: 370px) {
    .menu-items li {
        margin-left: 26px;
    }

    .custom-nav .menu-items li {
        margin-left: 35px;
    }

    .sales-mg-box,
    .sales-mg-box2 {
        height: 230px;
    }

    /* *****************************
	**              Scene 7 Media Query
	********************************** */
    .no-projects .bottom-text {
        left: 20%;
    }

    /* *****************************
	**              Scene 10 Media Query
	********************************** */
    .set-limit {
        align-items: baseline;
    }

    .select-container .input-group {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
    }

    .discount-box p,
    .discount-box input {
        margin-right: 15px;
    }

    .discount-box button,
    .dark-gray-btn {
        min-width: 98px;
    }

    /* *****************************
	**              Scene 23 Media Query
	********************************** */

    .product-modal1>button {
        width: 32.3% !important;
        font-size: 1rem;
    }


    /* *****************************
	**              Scene 24 Media Query
	********************************** */
    .product-modal textarea {
        width: 100%;
    }
}


@media all and (min-width: 416px) {

    nav,
    .dashboard,
    .add-associate,
    .associate-details,
    .associate-details1,
    .add-product,
    .screen13 .box-container,
    footer {
        padding-left: 25px;
        padding-right: 25px;
    }

    .sales-mg-container .col-6,
    .sales-mg-container .col-md-4 {
        padding-right: 5px;
        padding-left: 5px;
    }


    .sales-mg-box,
    .sales-mg-box2 {
        height: 210px;
    }

    /* *****************************
	**              Scene 6 Media Query
	********************************** */

    .logo-box {
        left: 34%;
    }

    /* *****************************
	**              Scene 26 Media Query
	********************************** */
    .screen26 .green-btn {
        min-width: 150px;
    }

    /* *****************************
	**              Scene 29 Media Query
	********************************** */
    .screen29 .search-form .form-group:first-of-type {
        min-width: 69%;
    }
}



@media all and (min-width: 768px) {

    nav,
    .dashboard,
    .add-associate,
    .associate-details,
    .associate-details1,
    .add-product,
    footer {
        padding-right: 35px;
        padding-left: 35px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px
    }

    .footer-nav-items li {
        display: inline-block;
        margin-left: 20px;
    }

    footer p {
        margin-bottom: 0;
    }

    .menu-items li,
    .custom-nav .menu-items li {
        margin-left: 45px;
    }

    .blue-txt {
        display: inline-block;
    }

    .menu-items .hide {
        display: inline-block;
    }

    .menu-items .show {
        display: none;
    }

    .padd {
        padding: 0 6% var(--lg);
    }

    .screen13-pd {
        padding: 0 15% var(--lg);
    }

    .no-display {
        display: block;
    }

    .b2b-container,
    .dashboard,
    .add-associate,
    .box-container {
        display: flex;
        justify-content: center;
        overflow-x: auto;
    }

    .arrow-box {
        right: 25%;
        padding-left: 0px;
        top: 8px;
    }


    .arrow-box i {
        padding-top: 1px;
        padding-left: 0;
    }

    .b2b-box {
        margin: 0px auto 15px;
    }

    .price-ft {
        text-align: center;
        margin: 0px 15px var(--lg);
    }

    .sales-info>p {
        margin-bottom: var(--lg);
    }

    .sales-mg-box,
    .sales-mg-box2 {
        padding: 12px 18px;
    }

    .sales-mg-container .col-6,
    .sales-mg-container .col-md-4 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .img-box p {
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 0;
    }

    video {
        width: 60%;
        height: 260px;
    }

    .email-field {
        width: 500px;
        text-align: left;
        padding-left: 20px;
    }

    .email-form .black-btn {
        position: absolute;
        top: 0px;
        right: 1%;
        height: 50px;
    }

    .start-free {
        margin-top: 100px;
    }

    .start-free .black-btn {
        font-size: 1.4rem;
    }

    .customers,
    .start-free,
    .trusted-cs {
        display: block;
        text-align: center;
    }

    .carousel-control-prev {
        left: 117px;
        top: 70px
    }

    .carousel-control-next {
        right: 117px;
        top: 70px
    }

    .trusted-cs {
        display: block;
    }

    .trusted-cs1 {
        display: none;
    }



    footer {
        display: flex;
    }

    /* *****************************
	**              Scene 5-Sign In Media Query
	********************************** */
    .login-box {
        width: 500px;
        margin: 70px auto;
    }

    .login-box input.form-control {
        width: calc(100% - 30%) !important;
    }


    /* *****************************
	**              Scene 5-Sign In Media Query
	********************************** */
    .about-company-box {
        width: 400px;
    }

    /* *****************************
	**              Page 6 Media Query
	********************************** */
    .partner input,
    .partner select {
        width: 450px;
    }

    .questions {
        width: 600px;
    }


    /* *****************************
	**              Page 7 Media Query
	********************************** */
    .partner input,
    .no-projects .bottom-text {
        left: 35%;
    }

    .no-projects .bottom-text {
        bottom: 60px;
    }

    .dashboard .no-display {
        display: inline-block;
    }

    /* *****************************
	**              Page 8 Media Query
	********************************** */
    main.no-side-pd {
        padding: 30px 20px;
    }

    .text-container {
        display: block;
    }

    .associate-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .associate-details1 .text-container {
        justify-content: space-between;
    }

    .add-associate {
        margin-top: var(--xl);
    }

    .associate-details .bold-txt {
        margin-right: 15px;
    }

    .associate-details p {
        display: inline-block;
    }

    .add-associate-form .col-12 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-bt.relative-bt {
        position: relative;
    }

    /* *****************************
	**              Page 10 Media Query
	********************************** */
    .select-container,
    .set-limit-container {
        width: 500px;
    }

    .associate-details .no-display {
        display: inline-block;
    }

    .back1 {
        display: none;
    }

    .select-container .input-group {
        width: 362px;
    }

    /* *****************************
	**              Page 10 Media Query
    ********************************** */

    .discount-box,
    .cash-discount-box {
        width: 400px;
    }

    .set-limit-container .input-group {
        margin-left: 30px;
    }

    /* *****************************
	**              Page 12 Media Query
	********************************** 

    /* *****************************
	**              Page 13 Media Query
    ********************************** */

    .add-product {
        text-align: left;
        margin-top: var(--xl);
        margin-bottom: var(--xl);
    }

    .add-product p {
        display: inline-block;
    }

    .screen13 .gray-box {
        width: 280px;
        padding-left: 28px;
    }

    .screen13 .mb-12 {
        margin-bottom: 12px;
    }

    /* *****************************
	**              Page 15 Media Query
	********************************** */

    .add-lead-form {
        margin-top: 60px;
    }

    /* *****************************
	**              Page 18 Media Query
	********************************** */

    .screen18 .order-action {
        justify-content: center;
        overflow-x: auto;
    }

    .screen18 .add-product p {
        display: flex;
        justify-content: center;
    }

    .screen18 .sort-orders p {
        padding-left: 20px;
    }

    .screen18 .mg-rt {
        width: 400px;
    }

    .screen18 .mg-rt input {
        padding-left: 20px;
    }

    .screen18 .no-display {
        display: inline-block;
        margin-right: 5px;
    }


    /* *****************************
	**              Page 19 Media Query
	********************************** */
    .auto-delivery {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .order-action {
        justify-content: center;
        overflow-x: auto;
    }

    /* *****************************
	**              Scene 21 Media Query
    ********************************** */
    .screen19.hide {
        display: block;
    }

    .screen19 .product-modal,
    .screen19 .product-modal1 {
        position: absolute;
        padding-left: 60px;
        padding-right: 60px;
        width: 450px;
        margin: 0 auto;
        border-radius: 10px;
        border-color: rgba(0, 0, 0, 0.6);
        top: 251px;
        left: 50%;
        transform: translateX(-50%);
    }

    .screen19 .custom-pd {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* *****************************
	**              Scene 23 Media Query
    ********************************** */
    .hide {
        display: block;
    }

    .screen19 .product-modal1 {
        padding-left: 1px;
        padding-right: 1px;
    }

    .product-modal1>button {
        width: 145.4px !important;
    }


    /* *****************************
	**              Scene 26 Media Query
    ********************************** */

    .screen26 .no-pad-rt .gray-bg {
        padding-left: 25px;
    }

    .screen26 .block-md {
        display: flex;
        height: 76px;
    }

    .screen26 .block .input-container p {
        margin-left: 0;
        width: 29%;
    }

    .screen26 .block .input-container p:first-of-type {
        margin-right: 0;
    }


    /* *****************************
	**              Scene 27 Media Query
    ********************************** */

    .screen27 .col-md-5 {
        padding: 0;
    }

    /* *****************************
	8**              Scene 27 Media Query
    ********************************** */
    .screen27 .border-container {
        border-radius: 30px;
    }

    /* *****************************
	8**              Scene 29 Media Query
    ********************************** */

    .screen18 .screen29,
    .screen29 .order-container {
        display: flex;
        align-items: center;
    }

    .screen18 .screen29 {
        justify-content: space-between;
    }

    .screen29 .order-action {
        margin-top: 0;
        width: auto;
    }

    .screen29 .search-form .form-group:nth-of-type(2) {
        margin-right: 10px;
    }

    .screen30 .product-modal {
        position: absolute;
        width: 550px;
        margin: 0 auto;
        top: 253px;
        left: 50%;
        transform: translateX(-50%);
        border-top: none;
    }


    .product-modal .btn-container button:first-of-type {
        margin-right: 10px;
    }

    /* .product-modal .btn-container button:first-of-type {
        margin-right: 30px;
    } */

    .screen30 .product-modal .small-txt {
        font-size: 1rem;
    }
}

@media all and (min-width: 1024px) {

    .max-width {
        max-width: 1200px;
        margin: 0 auto;
    }

    .email-field {
        display: inline-block;
        margin: 0 auto;
    }

    .email-form .black-btn {
        right: 12%;
    }

    .b2b-box {
        width: 263.61px;
        padding: 17px 20px 20px;
    }

    .b2b-box img {
        margin-right: 20px;
    }

    .arrow-box {
        right: 29%;
        top: 10px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        padding: 5px 0px;
    }

    .price-container {
        display: block;
        overflow-x: auto;
    }

    .carousel-control-next {
        right: 25%;
    }

    .big-ft {
        margin-bottom: 80px;
    }

    .demo,
    video {
        margin-top: 80px;
    }

    .carousel-control-prev {
        left: 25%;
    }

    .sales-mg-box,
    .sales-mg-box2 {
        height: 213px;
        width: 263.61px;
    }

    .b2b {
        margin-top: 100px;
        margin-bottom: 70px;
    }

    .center-txt,
    .sales-info>p,
    .customers>h6 {
        margin-bottom: 60px;
    }

    .start-free h6 {
        margin-top: 80px;
        margin-bottom: var(--xl);
    }

    .price-ft {
        margin: 0px 15px 100px;
    }

    .customers {
        margin-top: 80px;
    }

    video {
        width: 580px;
        height: 320px;
    }

    .gray-box .blue-btn {
        left: 50px;
    }

    .dashboard p {
        margin-right: 60px;
    }

    /* *****************************
	**              Page 7 Media Query
	********************************** */
    .logo-box {
        width: 146px;
        height: 80px;
        top: -54px;
        padding-top: 30px;
    }

    .about-company-box {
        margin: 100px auto var(--xl);
        padding-top: 42px;
    }



    /* *****************************
	**              Page 7 Media Query
	********************************** */
    .no-projects .bottom-text {
        left: 39%;
    }


    /* *****************************
	**              Page 8 Media Query
	********************************** */
    .associate-details {
        display: flex;
        justify-content: space-between;
    }

    .footer-bt.relative-bt {
        position: absolute;
    }

    /* *****************************
    **              Page 10 Media Query
    ********************************** */
    .back,
    .back1 {
        padding: 5px 7px;
    }

    .linked-container {
        display: flex;
        justify-content: center;
        overflow-x: auto;
    }


    /* *****************************
	**              Page 11 Media Query
	********************************** */
    .add-associate {
        margin-top: var(--xl);
    }

    .discount-box {
        margin: var(--md) auto var(--xl);
    }

    /* *****************************
	**              Page 13 Media Query
    ********************************** */
    .screen13-pd {
        padding: 0 6% var(--lg) 0;
    }

    .screen13 .gray-box {
        margin-left: 0;
        margin-right: 0;
    }

    .screen13 {
        max-width: 1150px;
        margin: 0 auto;
    }

    .screen13 .lg-container {
        margin-top: 0;
        margin-bottom: 0;
    }

    .product-container .col-lg-4 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .screen14 .col-lg-5>.no-mg-bt,
    .screen14 .col-lg-3>.no-mg-bt {
        margin-top: 0;
        margin-bottom: 10px
    }

    /* *****************************
	**              Page 13 Media Query
    ********************************** */
    .screen14 .col-lg-5 .form-group {
        min-width: 150px;
        background-color: var(--white);
    }

    /* *****************************
	**              Page 18 Media Query
    ********************************** */
    .screen18 .add-product {
        display: flex;
        justify-content: space-between;
    }

    .screen18 .order-action {
        margin-top: 0;
    }

    .order-container {
        display: flex;
        align-items: center;
    }

    /* *****************************
	**              Page 26 Media Query
    ********************************** */
    .screen26 .no-pad-rt {
        padding-right: 0;
    }

    .screen26 .col-md-8.no-pad-rt .form-group {
        width: 350px;
    }

    .screen26 .no-flex-mb {
        display: flex;
        height: 76px;
        padding-bottom: 6px;
    }

    .screen26 .no-flex-mb .input-container {
        margin-bottom: 0;
        padding-top: 0;
    }

    .screen26 .block {
        display: flex;
        height: 76px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .screen26 .block .input-container:first-of-type {
        margin-bottom: 0;
    }

    .screen26 .block .input-container:nth-of-type(2) p {
        margin-left: 10px;
    }

    .screen26 .no-flex-mb .input-container:nth-of-type(2) {
        margin-bottom: 0;
    }

}

@media all and (min-width: 1440PX) {
    .small-btn {
        font-size: 0.9rem;
    }

    .customers>h6,
    .price-ft,
    .big-txt {
        font-size: 1.4rem;
    }

    .price-ft .arrow-box {
        font-size: 1.1rem;
    }

    .max-width .big-font {
        font-size: 2rem;
    }

    .customer-box {
        max-width: 700px;
        padding: 30px;
    }

    .customers>h6 {
        margin-bottom: var(--xl);
    }

    .cs-img {
        max-width: 251px;
        width: 251px;
        height: 86px;
    }

    .associate-details button,
    .small-txt,
    .upload-excel {
        font-size: 0.9rem
    }

    .email-form .black-btn {
        right: 27%;
    }

    .b2b-box {
        width: 369.61px;
        padding: 28px 50px 22px;
        height: 170px;
    }

    .b2b-box img {
        margin-right: 20px;
        width: 120px;
        height: 120px;
    }

    .sales-mg-box,
    .sales-mg-box2 {
        height: 150px;
        width: 358.61px;
        margin: 0 auto 30px;
    }

    .carousel-control-next {
        right: 19%;
        top: 130px;
    }

    .carousel-control-prev {
        left: 19%;
        top: 130px;
    }



    /* *****************************
	**              Scene 1 Media Query
	********************************** */

    .gray-box .blue-btn {
        left: 60px;
    }


    /* *****************************
	**              Scene 7 Media Query
    ********************************** */
    .no-screen .add-product p {
        display: inline-block;
    }

    .no-projects .bottom-text {
        left: 43%;
    }

    .screen14 .mg-sm {
        margin-bottom: 9px;
        margin-top: 9px;
    }

    .screen19 .add-product {
        display: flex;
        justify-content: space-between;
    }

    .add-product p {
        display: flex;
    }

    .add-product span.bold-txt {
        margin-left: 5px;
        margin-right: 5px;
    }

    .screen19 .transaction-statement {
        display: flex;
        justify-content: center;
        overflow-x: auto;
    }

    .order-action {
        margin-top: 0;
        width: auto;
    }

    /* *****************************
	**              Scene 21 Media Query
    ********************************** */

    .screen19 .product-modal {
        top: 172px;
    }
}