* {
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
	background-color: #f3f3f3;
	/* padding: 5px 10px; */
	font-weight: lighter;
	overflow-x: hidden;
}

header {
	background-color: #000000;
	color: #ffffff;
	padding-left: 20px;
}

nav {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	font-weight: 500;
}

.img-box p {
	display: none;
	margin-left: 20px;
}

.logo {
	width: 70px;
}

.menu-items li {
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;
}

li a {
	color: #ffffff;
}

nav li:nth-child(2) {
	font-weight: bold;
}

.menu-container {
	position: relative;
}

.dot {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: red;
	content: "";
	display: inline-block;
	border-radius: 100%;
	left: 53px;
	top: 0;
	border: 2px solid #ffffff;
}

main {
	padding: 30px 20px;
	background-color: #ffffff;
}



.back1 {
	display: inline-block;
	border: 2px solid #000000;
	padding: 3px 10px;
	border-radius: 20px;
	color: #a2a1a1;
}

.dashboard {
	padding-top: 20px;
	padding-left: 20px;
}

.dashboard p {
	margin-right: 40px;
}

.dashboard p:nth-child(1) {
	font-weight: bold;
}

.acc-stat {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.acc-details {
	margin-right: 15px;
	margin-left: 15px;
	color: #ffffff;
	background-color: #000000;
	padding: 5px 10px;
	border-radius: 3px;
	width: 110px;
	text-align: center;
}

.acc-analytics {
	background-color: #f3f3f3;
	border-radius: 3px;
	margin-right: 15px;
	margin-left: 15px;
	border: 1px solid #e4e4e4;
	padding: 5px 10px;
	width: 110px;
	text-align: center;
}

.bold-txt {
	font-weight: bold;
}

.profile p {
	display: inline-block;
	margin-bottom: 30px;
}

.profile-action {
	margin-bottom: 30px;
}

.profile-action,
.dashboard {
	text-align: center;
}

.profile-action,
.dashboard,
.account-action {
	width: 100%;
	white-space: nowrap;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.profile-action div,
.dashboard p,
.account-action div {
	float: none;
	display: inline-block;
	zoom: 1
}

.account-action div {
	display: inline-block;
	margin-right: 5px;
}

.order-details-mb {
	border: 2px solid #e4e4e4;
	padding: 10px 10px 0;
	margin-bottom: 30px;
	margin-top: 30px;
}


.join,
.wallet,
.order,
.call,
.back {
	border-radius: 25px;
	color: #ffffff;
	padding: 10px 15px;
}

.join {
	background-color: #c92223;

}

.wallet {
	background-color: #727271;
}

.order {
	background-color: #008dd2;
}

.call {
	background-color: #009846;
	border-radius: 20px;
}

.back {
	border: 2px solid #a2a1a1;
	display: none !important;
	color: #a2a1a1;
}

.green-text {
	color: #009846;
	font-weight: bold;
}

.status {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.status p {
	margin-right: 30px;
}

.account-action div {
	border: 1px solid #e4e4e4;
	padding: 10px 15px;
	background-color: #f3f3f3;
	border-radius: 5px;
	color: #000000;
}

.account-action .delete {
	color: #c92223;
}

.order-details {
	margin-top: 20px;
	display: none;
	margin-bottom: 30px;
}

.order-details div {
	border-right: 1px solid #000000;
	padding: 10px 21px;
	border-left: none;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.order-details div:nth-child(1) {
	border-left: 1px solid #000000;
}

.bold-text {
	opacity: 0.7;
}


.red-text {
	color: #c92223;
}

.account p {
	margin-bottom: 6px;
}

.shop,
.contact-info {
	background-color: #f3f3f3;
	padding: 10px 20px;
	border-radius: 7px;
	min-height: 190px;
	border: 2px solid #e4e4e4;
}

.contact-info {
	width: 300px;
}

.shop {
	padding: 10px 10px 30px 30px;
	position: relative;
	margin-left: 20px;
	margin-bottom: 10px;
}

.shop h6 {
	font-weight: 600;
}

.contact-info {
	margin-bottom: 30px;
}

.one,
.two,
.three,
.four {
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #ffffff;
	border-radius: 5px;
	padding: 8px;
	bottom: -20px;
}

.one {
	left: 14px;
	background-color: #2b2a29;
}

.two {
	left: 67px;
	background-color: #b2b2b2;
}

.three {
	left: 122px;
	background-color: #b2b2b2;
}

.four {
	left: 176px;
	background-color: #b2b2b2;
}

.vertical {
	border: 1px solid #c92223;
	display: inline-block;
	writing-mode: vertical-lr;
	position: absolute;
	left: -16px;
	top: 30px;
	padding: 10px 3px;
	border-radius: 5px;
	background-color: #ffffff;
}

.upload,
.address {
	text-align: center;
	background-color: #f3f3f3;
	padding: 5px;
	border: 2px solid #e4e4e4;
	border-radius: 4px;
}

.upload {
	margin-bottom: 7px;
}

.address {
	padding-left: 10px;
}

.photos {
	margin: 40px 35px 10px;
}

.activate {
	padding-top: 20px;
	margin: 0 50px 0;
}

.activate .col-6 {
	padding-right: 0;
}

.activate i {
	margin-left: 33%;
	margin-right: 5px;
	font-size: 18px;
	vertical-align: middle;
}

.credit-hold,
.credit,
.hold-account,
.ordering {
	background-color: #f3f3f3;
	margin-bottom: 10px;
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
	border: 2px solid #e4e4e4;
	border-radius: 4px;
}

.toggle,
.t1,
.t2 {
	display: inline-block;
}

.toggle {
	position: relative;
	margin-right: 7px;
	vertical-align: sub;
}

.t1 {
	background-color: #ffffff;
	width: 30px;
	height: 15px;
	border-radius: 8px;
	border: 2px solid #e4e4e4;
}

.t2 {
	background-color: #c92223;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	position: absolute;
	left: -4px;
	top: 0;
}

.t3 {
	background-color: #009846;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	position: absolute;
	right: -4px;
	top: 0;
}

.col-md-1 {
	padding-right: 0;
}

select {
	display: block;
	margin: 20px auto 20px;
	padding: 10px 5px;
	font-weight: 600;
	height: 46px;
}

.order-info {
	display: none;
	background-color: #f3f3f3;
	margin-top: 20px;
	padding: 10px;
}

.order-info div {
	padding: 10px 10px;
	margin-right: 10px;
	background-color: #ffffff;
	border-radius: 3px;
	border: 1px solid #e4e4e4;

}

#order {
	display: none;
}

.order-info .live-orders {
	background-color: #000000;
	color: #ffffff;
}

.search {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.search p,
.from,
.to {
	display: inline-block;
}

.search>input {
	height: 46px;
	padding: 5px 5px 5px 10px;
	margin-top: 10px;
}

.search>p {
	margin-right: 20px;
	vertical-align: initial;
	padding-top: 10px;
}

.to,
.from {
	border: 1px solid #e4e4e4;
	margin-right: 30px;
	height: 46px;
	padding: 10px 10px;
	border-radius: 3px;
}

.table-mobile {
	margin-top: 20px;
}

.table1,
.table2,
.table3,
.table4 {
	border: 1px solid #e4e4e4;
	background-color: #f3f3f3;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.fa-toggle-on {
	color: #009846
}

.fa-toggle-off {
	color: #c92223;
}

.order-t {
	margin-bottom: 10px;
	margin-top: 10px;
}

table {
	width: 100%;
	display: none;
}

tr {
	background-color: #f3f3f3;
}

tbody::before {
	content: "@";
	display: block;
	line-height: 10px;
	text-indent: -99999px;
}

.red-bd {
	border: 1px solid #c92223;
	padding: 10px 40px;
	border-radius: 3px;
}

.red-text1 {
	text-decoration: underline;
	color: #c92223;
}

.blue-text {
	color: #008dd2;
}

table .green-text {
	font-weight: normal;
}



/* Media query */

@media all and (max-width: 375px) {
	.menu-items li {
		margin-right: 15px;
	}

	.contact-info {
		width: 218px;
	}
}

@media all and (min-width: 769px) {

	header {
		padding: 0 60px;
	}

	.menu-items li {
		margin-right: 20px;
	}

	main {
		padding: 30px 60px;
	}

	.dashboard {
		display: flex;
		justify-content: center;
	}

	.img-box p {
		display: inline-block;
	}

	.acc-stat {
		display: none;
	}

	.dashboard {
		display: flex;
		overflow-x: hidden;
		justify-content: center;
	}

	.account-action {
		overflow-x: auto;
	}

	.profile-action {
		display: inline-block;
		width: auto;
		overflow-x: hidden;

	}

	.profile-action div {
		margin-right: 10px;
	}

	.order-details {
		display: flex;
	}

	.order-details-mb {
		display: none;
	}

	.profile {
		display: flex;
		justify-content: space-between;
	}

	.contact-info {
		min-height: 190px !important;
		width: 100%;
		margin-bottom: 0;
	}

	.back1 {
		display: none;
	}

	.back {
		display: inline-block !important;
	}

	.one {
		top: 5px;
		left: 95%;
	}

	.two {
		top: 52px;
		left: 95%;
	}

	.three {
		top: 97px;
		left: 95%;
	}

	.four {
		top: 142px;
		left: 95%;
	}

	.activate {
		margin: 0;
	}

	.activate .col-sm-12.col-md-6 {
		padding-left: 0;
	}
	.activate i {
		margin-left: 16%;
	}

	.shop {
		padding: 10px 10px 13px 30px;
	}

	.photos {
		margin-left: 15px;
		padding-top: 34px;
		margin-bottom: 20px;
	}

	#order {
		display: block;
	}

	.order-info {
		display: flex;
	}

	.order-info-mb {
		display: none;
	}

	.account .col-lg-2,
	.account .col-lg-4 {
		padding-right: 0;
	}

	.t1,
	.t3 {
		top: 1px;
	}

	.search {
		display: flex;
		justify-content: center;
		align-content: center;
	}

	.search>input {
		margin-top: 0;
	}

	.search>p {
		vertical-align: middle;
	}

	.table-mobile {
		display: none;
	}

	table {
		display: table;
	}

}